/* Estilo general */
body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #121212; /* Fondo oscuro para modo noche */
  color: #ffffff; /* Texto blanco para contraste */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden; /* Evita desplazamiento */
}

/* Título */
h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: center;
  color: #f5f5f5;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

/* Contenedor principal */
#mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

/* Canvas */
canvas {
  width: 90vw; /* Ajusta el ancho a un 90% del viewport */
  height: auto; /* Mantén las proporciones */
  max-width: 650px; /* Tamaño máximo */
  max-height: 580px;
  border: 2px solid #ffffff;
  background-color: #1e1e1e; /* Fondo del canvas oscuro */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}

/* Selector de color */
#colorSelector {
  margin: 10px;
}

#colorPicker {
  background: none;
  border: none;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#colorPicker:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

/* Puntuación */
#puntuacion {
  font-size: 1rem;
  padding: 5px 10px;
  background-color: #1e1e1e;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  text-align: center;
}

/* Ajuste adicional para evitar scroll */
html,
body {
  height: 100%;
  overflow: hidden;
}
